h3{
    background-color: powderblue;
}

.heading{
    margin-top: 0;
    width: 100%;
    font-size: 30px;
    color: white;
}


.sub-heading{
    color:black;
    font-size: 15px;
}

canvas{
    margin-top: 20px;

    box-shadow: 2px 2px 2px  red;
}

#shape_canvas{
    margin-left: 400px;
}

.footer-1{
    width: 100%;
    position: fixed;
    bottom: 0;
}

h2{
    text-align: center;
    background-color: grey;
}